.tasks__form {
	&:not(:last-child) {
		margin-bottom: 20px;
	}

  &-new {
		display: flex;
		align-items: center;
		cursor: pointer;
		opacity: .4;
		transition: opacity .15s ease-in-out;

		&:hover {
			opacity: .8;
		}

		img {
			width: 16px;
			height: 16px;
			margin-right: 20px;
		}

		span {
			font-size: 16px;

		}
	}

	&-popup {
		input {
			margin-bottom: 15px;
		}

		button:not(:last-child) {
			margin-right: 10px;
		}
	}
}